@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Inter:wght@300&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lekton&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}
body, html{
    width: auto;
}
p{
    color: #535354;
}
.container{
    padding: 50px 100px;
}

.hero{
    background: linear-gradient(311.76deg, #D4E7FE -15.24%, #FFFFFF 78.85%);
}
.orangeborder{
    border:2px orange solid ;
    border-radius: 300px;
    

}
.subscribe-img{

    height: 734.21px;
    min-width: 50%;
    position: absolute;
    left: 635.74px;
    top: -100px; 
    background-position: left;
    background-size: contain; 
    background-repeat: no-repeat; 
    background-origin: content-box; 
}
.hero-header{
font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 80px;
color: black;
margin: 20px 0;
}

ul li{
    display: inline-block;
    list-style-type: none;
    padding-right: 30px;
    
}

ul li a, .hero a{
    text-decoration: none;
    color: #535354;
}
a{
    text-decoration: none;
}
.navbar{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
}
.content .uprightcard{
    position: relative;
    top:-90px;
    height: 500px;
}
.btncard img{
    max-width: 70px;
    max-height: 100px;
    
}
.btncard {
    min-width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
}
.hero .content{
  
    display: flex;
    flex-wrap: wrap;
    margin-top: 75px;
    justify-content: space-between;

}
.hero .content div{
    display: flex;
    flex-direction: column;
}

.features{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    justify-content: space-around;
}
.firstfeature{
    width: 250px;
    height: 163px; 
}
.features .features-content img{
    width: 50px;
    height: 50px;
}
.features div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.features .features-content{
    width: 196px;
height: 163px;
}
.features h4{
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #222223;
}
.blazing{
    margin-bottom: -29px;
    margin-left: -10px;
}
.statistics-header{
    text-align: center;
    margin: 30px;
}
.statistics-header p{
    margin: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center; 
    color: #767E7E;
}
.statistics-title{
font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 80px;
color: black;
}
.statistics div{
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 100px;
    row-gap: 10px;
    padding: 70px 0;
    flex-direction:column;
}
.testimonials img{
    top:-100px;
    align-items: center;
}
.testimonials{
    position: relative;
    background: #c1e7ff;
}
.testimonials .container img{
    width: 50px;
    height: 50px;
    position: absolute;
    align-self: center;
    top: -25px;
}
.testimonials .container div{
    align-self: center;
}
.testimonials .container{
    position: relative;
    display: flex;
    flex-direction: column;    
}
.testimonials-body {
    display:flex;
    column-gap: 200px;
    height: 300px;
}

.testimonials-header{
font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 38px;
}
.statistics{
    display: flex;
    justify-content: center;
    text-align: center;  
    margin: 70px 0;
}
.statistics > div{
    border: 1px solid #767E7E;
    
}
.statistics .first {
    border-left:0 ;
}
.statistics .last {
    border-right:0 ;
}
.category{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4em;
    
    color: #718176;
}

.newsletter{
    background: #41B3F4;
    height: 522px;
    padding:10% 0;
    position: relative;
}
.newsletter .container{
    display:flex;
    flex-wrap: wrap;
    column-gap: 30px;
}
.newsletter .container div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
}

.subscribe-title{
    font-family: 'Bai Jamjuree';
    font-style: normal;
    font-weight:bolder;
    font-size: 50px;
    line-height: 50px;
    width: 500px;
}
.landscapecard{
    width: 550px;
    height: 734.21px;
    position: relative;
    top: -300px;
}
.btnsubscribe{
 width: 160px;
height: 60px;
padding:20px 39px;
color: white;
background: #E15C19;
}
.amount{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 25px;
line-height: 40px;
font-weight: bold;
}
.tips-title{
    font-family: 'Bai Jamjuree';
font-style: normal;
font-weight: 600;
font-size: 52px;
line-height: 62px;
}
.tips-header p{
    margin: 30px 0;
}
.tips{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tips-body .tips-content{
    display: flex;  
    flex-wrap: wrap;
}
.tips-content img{
    width: 100px;
}
.tips-content div{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.topimg{
    width: 675px;
height: 507px;
}

.tips .tips-body{
    display: flex;
    flex-direction: column;
}
.spiral{
    width: 96px;
    height: 96px;
}
.line{
    height: 133px; 
    border: 8px #718176 solid;
}


.bottomnav{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin: 60px 0;
}
.footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-between;
}
footer .icons img{
    padding: 0 20px;
}
.horizontalline{
   border: #222223 solid;
  width: 500px;
  height: 2px;
}

@media screen and (max-width:768px ) {
    .container{
        padding: 25px 50px;
    }
   
    .statistics,.newsletter .container,.features,.bottomnav,.footer,.testimonials-body{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;

    }
    .tips {
       display: none;
    }
    .bottomnav ul li{
        display: block;
    }
    .navbar{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        justify-content: center;

    }
    .hero .content{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .navbar ul li{
        display: block;
    }
    .line,.spiral {
       display: none; 
    }
    .subscribe-img ,.uprightcard, .tips .topimg{

        display: none;
    }
    .landscapecard{
        display: none;

    }

    .newsletter h4,.icons,footer .brand-name,.login-icon{
        display: none;
    }
    .horizontalline{
        border: none;
    }
    .testimonials,footer, .newsletter  .hero{
        height: auto;
    }
  
}